# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

In [10]:
import pandas as pd
import numpy as np

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [11]:
d1 = pd.read_csv('sp500hst.txt',names=["date", "ticker", "open", "high", "low", "close", "volume"])             
d1

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

In [12]:
d1.dtypes

date        int64
ticker     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

In [13]:
d1['date'] = d1['date'].astype('str')

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [14]:
av3 = np.mean(d1['open'])
av4 = np.mean(d1['high'])
av5 = np.mean(d1['low'])
av6 = np.mean(d1['close'])
print(av3,av4, av5, av6)
print(type(d1['date']))

42.59545765904678 43.102243387667855 42.05446366521448 42.60186484817335
<class 'pandas.core.series.Series'>

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [15]:
d1["month"] = d1["date"].str[4:6]
d1

            date ticker   open     high     low  close  volume month
0       20090821      A  25.60  25.6100  25.220  25.55   34758    08
1       20090824      A  25.64  25.7400  25.330  25.50   22247    08
2       20090825      A  25.50  25.7000  25.225  25.34   30891    08
3       20090826      A  25.32  25.6425  25.145  25.48   33334    08
4       20090827      A  25.50  25.5700  25.230  25.54   70176    08
...          ...    ...    ...      ...     ...    ...     ...   ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561    08
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489    08
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498    08
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259    08
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792    08

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [16]:
d_2 = pd.read_csv('sp500hst.txt', names = ["date", "ticker", "open", "high", "low", "close", "volume"])
d_ad = pd.read_csv('sp_data2.csv', delimiter=';',names=['decription','none'])

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [17]:
recipes = pd.read_csv('recipes_sample.csv', delimiter = ',')
reviews = pd.read_csv('reviews_sample.csv', delimiter = ',')
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [18]:
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [19]:
print(f'Кол-во строк у первого файла {len(recipes)}')
print(f'Кол-во строк у второго файла {len(reviews)}', '\n')
print(f'Кол-во столбцов у первого файла {len(recipes.axes[1])}')
print(f'Кол-во столбцов у второго файла {len(reviews.axes[1])}','\n')
print(f'Тип данных каждого столбца у первого файла: \n{recipes.dtypes} \n')
print(f'Тип данных каждого столбца у первого файла: \n{reviews.dtypes}')

Кол-во строк у первого файла 30000
Кол-во строк у второго файла 126696

Кол-во столбцов у первого файла 8
Кол-во столбцов у второго файла 6

Тип данных каждого столбца у первого файла:
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

Тип данных каждого столбца у первого файла:
Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [20]:
k_1 = recipes.isna().sum().sum()
k_2 = reviews.isna().sum().sum()
print(f'Информация о столбцах, содержащие пропуски в первом файле: \n{recipes.isna().sum()} \nИ доля строк, содержащих пропуски, в отношении к общему количеству строк {k_1/len(recipes.axes[0])}\n')
print(f'Информация о столбцах, содержащие пропуски во втором файле: \n{reviews.isna().sum()} \nИ доля строк, содержащих пропуски, в отношении к общему количеству строк {k_2/len(reviews.axes[0])}')

Информация о столбцах, содержащие пропуски в первом файле:
name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64
И доля строк, содержащих пропуски, в отношении к общему количеству строк 0.6897666666666666

Информация о столбцах, содержащие пропуски во втором файле:
Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        17
dtype: int64
И доля строк, содержащих пропуски, в отношении к общему количеству строк 0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [21]:
print(recipes.mean(), '\n')
print(reviews.mean())

C:\Users\art3m\AppData\Local\Temp\ipykernel_13404\1956891447.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(recipes.mean(), '\n')

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

Unnamed: 0    5.660898e+05
user_id       1.408013e+08
recipe_id     1.600944e+05
rating        4.410802e+00
dtype: float64

C:\Users\art3m\AppData\Local\Temp\ipykernel_13404\1956891447.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(reviews.mean())

1.5 Создайте серию из 10 случайных названий рецептов.

In [22]:
x = pd.DataFrame(recipes.sample(n = 10))
x

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
16852,mango barbecued ribs,28732,205,23302,2002-05-18,3.0,NaN,NaN
4335,cacciatore penne oamc,148776,24,83374,2005-12-20,NaN,"from ""cook for a day, eat for a month lite and...",7.0
20497,peppermint buttercream icing,444807,10,230846,2010-12-27,5.0,created to fill a chocolate roll that i covere...,NaN
23885,sexy chow,40259,40,42023,2002-09-15,6.0,my mom came up with this concoction when i was...,NaN
10051,easy homemade carob chocolate sugar dairy free,455671,35,176124,2011-05-10,NaN,this recipe is great for those who can't eat c...,2.0
7753,country style ribs,27063,130,31695,2002-05-02,NaN,"i got this recipe from a ""country weekly"" maga...",NaN
16032,lemony garlic beans microwave,239886,20,422893,2007-07-11,NaN,"this is a really nice way to serve beans, the ...",NaN
4004,bruschetta with sauteed sweet peppers and crea...,290800,45,784013,2008-03-08,13.0,show: \tbarefoot contessa,10.0
14675,italian meatloaf with carrot,257998,70,372895,2007-10-09,NaN,created by jessica seinfeld\r\nfrom the book d...,NaN
23746,sea chicken tuna spread,270027,5,257585,2007-12-06,1.0,canned tuna is more commonly called “sea chick...,NaN

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [23]:
copy_rev = pd.DataFrame(data=reviews, index=range(0, len(reviews)+1))
copy_rev

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476.0,2.175200e+04,57993.0,2003-05-01,5.0,Last week whole sides of frozen salmon fillet ...
1,624300.0,4.318130e+05,142201.0,2007-09-16,5.0,So simple and so tasty! I used a yellow capsi...
2,187037.0,4.007080e+05,252013.0,2008-01-10,4.0,"Very nice breakfast HH, easy to make and yummy..."
3,706134.0,2.001852e+09,404716.0,2017-12-11,5.0,These are a favorite for the holidays and so e...
4,312179.0,9.581000e+04,129396.0,2008-03-14,5.0,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126692,158736.0,2.282344e+06,8701.0,2012-06-03,0.0,This recipe is outstanding. I followed the rec...
126693,1059834.0,6.895400e+05,222001.0,2008-04-08,5.0,"Well, we were not a crowd but it was a fabulou..."
126694,453285.0,2.000243e+09,354979.0,2015-06-02,5.0,I have been a steak eater and dedicated BBQ gr...
126695,691207.0,4.634350e+05,415599.0,2010-09-30,5.0,Wonderful and simple to prepare seasoning blen...
126696,NaN,NaN,NaN,NaN,NaN,NaN

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [24]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [25]:
u_1 = (recipes['minutes'] <= 20)
u_2 = (recipes['n_ingredients'] <=5)
recipes.loc[u_1 & u_2]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [26]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [27]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [28]:
gr1 = recipes[recipes['submitted'].dt.year <= 2010]
gr1

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [29]:
recipes['description'] = recipes['description'].astype('str')
x = []
for i in recipes[:]['description']:
    x.append(len(i))
recipes['description_lenght'] = x
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125


3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [30]:
recipes['name'] = recipes['name'].str.lower()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [31]:
x = []
for i in recipes[:]['name']:
    x.append(len(i.split()))
recipes['name_word_count'] = x
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght,name_word_count
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648,2
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [32]:
x = recipes['contributor_id'].max()
y = recipes.index [recipes['contributor_id']== x ].tolist()
y = int(y[0])
recipes['id'][y]

536747

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [33]:
file4_2=pd.DataFrame(reviews['recipe_id'].value_counts())
file4_2

        recipe_id
27208        1382
82102         708
135350        674
107786        592
50719         486
...           ...
23964           1
499966          1
418761          1
430164          1
296868          1

[28100 rows x 1 columns]

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [34]:
d4_3=pd.DatetimeIndex(recipes['submitted']).year
d4_3=pd.Series(d4_3)
d4_3.value_counts()

2007    4429
2008    4029
2006    3473
2005    3130
2009    2963
2002    2644
2003    2334
2004    2153
2010    1538
2011     922
2012     659
2001     589
2013     490
1999     275
2014     139
2000     104
2015      42
2017      39
2016      24
2018      24
Name: submitted, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [35]:
recipes1 = recipes.dropna()
recipes1.drop(columns = ['minutes', 'contributor_id', 'submitted', 'n_steps', 'description', 'n_ingredients'], axis = 1)

,name,id,description_lenght,name_word_count
6,open sesame noodles,107229,290,3
8,1 in canada chocolate chip cookies,453467,230,6
15,better than tofu cheesecake,200148,380,4
16,burek or feta cheese phyllo pie,310570,556,6
21,kelly s creamy cheddar pea salad,125195,102,6
...,...,...,...,...
29986,zucchini potato and herb fritters,344542,888,5
29989,zucchini cheddar casserole,74023,42,3
29994,zuppa by luisa,464576,46,3
29995,zurie s holey rustic olive and cheddar bread,267661,484,8
29999,cookies by design cookies on a stick,298512,125,7

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [37]:
reviews[reviews['id']==66]['rating'].sum()

KeyError: 'id'

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [38]:
recipes6_1=recipes.sort_values('name_word_count',ascending=False)
recipes6_1

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght,name_word_count
26223,subru uncle s whole green moong dal i ll be ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343,15
28083,tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436,14
26222,subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087,14
27876,top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129,14
5734,chicken curry or cat s vomit on a bed of magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,144,13
...,...,...,...,...,...,...,...,...,...,...
3253,blackmoons,323195,430,415934,2008-09-04,5.0,my mom was a newlywed in the 1950s when she fo...,NaN,389,1
4138,bushwhacker,156521,10,177392,2006-02-17,1.0,this drink is an excellent after dinner drink ...,6.0,124,1
2357,basbousa,12957,60,18391,2001-10-20,NaN,this is a traditional middle eastern dessert. ...,NaN,78,1
15052,josefinas,264859,20,498271,2007-11-11,7.0,"from the junior league of corpus christi tx, t...",NaN,92,1
4710,caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341,1

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [41]:
writer = pd.ExcelWriter('Рецепты с оценками.xlsx')
recipies.to_excel(writer)
writer.save

ModuleNotFoundError: No module named 'openpyxl'

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3